<template>
  <div>
    <div class="float" :key="i" v-for="(c, i) in config">
      <label>{{i}}</label>: <input v-model.number="config[i]" type="number"></br>
    </div>
    <div ref="pixiapp"></div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Navbar from "./navbar.vue";
import Help from "./help.vue";
import { Watch } from "vue-property-decorator";
import { Action, State, Getter } from "vuex-class";
import * as PIXI from "pixi.js";

import { TontrisPiece, Grid, Direction } from '../tontris'

// const io = require("socket.io-client");

@Component({
  components: {},
})
export default class App extends Vue {
  socket: Websocket = undefined

  mounted() {
    new Game(this.socket).setupPixi(this.$refs.pixiapp);
    this.setupSocket();

  }

  setupSocket() {
    const socket = new WebSocket("ws://localhost:4000/ws/chat")
    socket.addEventListener("message", (event) => {
      console.log(event)
    })
    socket.addEventListener("close", () => {
      console.log('disconnected')
    })
    socket.addEventListener("open", (event) => {
      socket.send('HI')
      this.socket = socket
    })
  }
}

class Game {

  config = {
    fps: 10
  }

  queue = []

  constructor(public socket: Websocket) {

  }

  setupPixi(ref: any) {
    let type = "WebGL";
    if (!PIXI.utils.isWebGLSupported()) {
      type = "canvas";
    }
    PIXI.utils.sayHello(type);
    //Create a Pixi Application
    let app = new PIXI.Application({
      width: 512,
      height: 512,
      antialias: true, // default: false
      transparent: false, // default: false
      resolution: 1, // default: 1
    });

    app.renderer.backgroundColor = 	0xFFB6C1;
    app.renderer.view.style.position = "absolute";
    app.renderer.view.style.display = "block";
    app.renderer.autoResize = true;
    app.renderer.resize(window.innerWidth, window.innerHeight);

    const blockSize = 20

    const grid = new Grid(20, 40, blockSize)
    let gridGraphics = grid.generateGraphics()
    app.stage.addChild(gridGraphics)

    let piece = grid.generatePiece()
    let pieceGraphics = piece.generateGraphics()
    app.stage.addChild(pieceGraphics)

    //Add the canvas that Pixi automatically created for you to the HTML document
    ref.append(app.view);

    var stop = false;
    var frameCount = 0;
    let fps = this.config.fps; 
    let now;
    let elapsed;
    const fpsIntervalKeys = 1000 / fps;
    const fpsInterval = 1000 / fps;
    let then = Date.now();
    let startTime = then;

    let paused = false

    let isUp = false;
    let isLeft = false;
    let isDown = false;
    let isRight = false;

    const doUp = () => {
      grid.rotate(piece)
      app.stage.removeChild(pieceGraphics)
      pieceGraphics = piece.generateGraphics()
      app.stage.addChild(pieceGraphics)
      this.queue.push('up')
    }

    const doDown = () => {
      this.queue.push('down')
    }

    const doRight = () => {
      if (grid.allowed(piece, Direction.Right)) {
        piece.x++
      }
      this.queue.push('right')
    }

    const doLeft = () => {
      if (grid.allowed(piece, Direction.Left)) {
        piece.x--
      }
      this.queue.push('left')
    }

    window.addEventListener("keydown", (key) => {
      switch (key.key) {
        case "w":
        case "ArrowUp":
          isUp = true
          doUp()
          break;
        case "a":
        case "ArrowLeft":
          isLeft = true
          doLeft()
          break;
        case "s":
        case "ArrowDown":
          isDown = true
          doDown()
          break;
        case "d":
        case "ArrowRight":
          isRight = true
          doRight()
          break;
        case " ":
        case "Spacebar":
          while(grid.allowed(piece, Direction.Down)) {
            piece.y++
            pieceGraphics.position.x = piece.x * blockSize;
            pieceGraphics.position.y = piece.y * blockSize;
          }
          break;
        case "Escape":
          paused = !paused
          break;
      }
    });

    window.addEventListener("keyup", (key) => {
      switch (key.key) {
        case "w":
        case "ArrowUp":
          isUp = false
          break;
        case "a":
        case "ArrowLeft":
          isLeft = false
          break;
        case "s":
        case "ArrowDown":
          isDown = false
          break;
        case "d":
        case "ArrowRight":
          isRight = false
          break;
      }
    });

    let previewGraphic: any = undefined

    const animate = () => {
      requestAnimationFrame(animate);
      now = Date.now();
      elapsed = now - then;

      if (elapsed > fpsIntervalKeys && !paused) {     
        if (isUp) {
          doUp()
        }
        if (isLeft) {
          doLeft()
        }
        if (isDown) {
          doDown()
        }
        if (isRight) {
          doRight()
        }
      }


      if (elapsed > fpsInterval && !paused) {

        // Get ready for next frame by setting then=now, but also adjust for your
        // specified fpsInterval not being a multiple of RAF's interval (16.7ms)
        then = now - (elapsed % fpsInterval);

        app.stage.removeChild(previewGraphic)
        previewGraphic = grid.getPreviewGraphic(piece)
        previewGraphic.alpha = .5;
        app.stage.addChild(previewGraphic)



        if (grid.update(piece)) {
          piece.y ++
          pieceGraphics.position.x = piece.x * blockSize;
          pieceGraphics.position.y = piece.y * blockSize;
        } else {
          app.stage.removeChild(pieceGraphics)
          app.stage.removeChild(gridGraphics)
          grid.checkRows()
          gridGraphics = grid.generateGraphics()
          app.stage.addChild(gridGraphics)

          piece = grid.generatePiece()
          pieceGraphics = piece.generateGraphics()
          app.stage.addChild(pieceGraphics)
        }

        if (this.socket && this.queue.length > 0) {
          for (const msg of this.queue) {
            this.socket.send(msg)
          }
          this.queue = []
        }

        app.renderer.render(app.stage)

      }
    }
    animate()
  }
}

</script>
<style lang="css">
* {padding: 0; margin: 0}
.float {
  position: absolute;
  z-index: 10;
  background: white;
  right: 10px;
  top: 10px;
}
</style>
