<template>
  <div>
    <div>HEY</div>
    <button @click="counter++">{{counter}}</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class Navbar extends Vue {
    counter: number = 0;
}
</script>

<style>
  .cake2 {
    color: red;
  }
</style>
